/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
html,
button,
input,
select,
html {
  font-size: 1em;
  line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.ul-links {
  list-style-type: none;
  padding-left: 0;
}
.ul-links li {
  display: inline-block;
  margin: 0px 10px;
}
.ul-links li:first {
  padding: 0px;
}
/*
 * ################## grids ###################################
 */
.base-grid-cell {
  padding: 5px;
  width: 125px;
}
/*
 * ################## vars ###################################
 */
#fixed-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background-color: #375a7f;
}
/*#cnt-calendar-header {overflow-x: scroll; height: 100%; white-space: nowrap;}*/
/*#cnt-calendar-header div { */
/*border: 1px solid red; */
/*padding: 0px 5px; */
/*.base-grid-cell;*/
/*float: left;*/
/*}*/
/*.cal-hdr { border: 1px solid red; }*/
.sch-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll;
}
.sch-name-cell {
  width: 200px;
  padding: 5px;
  display: table-cell;
  border: 1px solid #464545;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  background-color: #222222;
}
.sch-day-cell {
  width: 175px;
  padding: 5px;
  display: table-cell;
  border: 1px solid #464545;
  vertical-align: middle;
}
.proj-border-color {
  border-color: bule;
}
.proj-border-width {
  border-width: 2px;
}
div#cnt-calendar-header {
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll;
  border: 1px solid #464545;
}
div#cnt-calendar-header div.hdr-row {
  display: table-row;
  height: 20px;
  background-color: #222222;
}
div#cnt-calendar-header div.hdr-row div {
  width: 175px;
  padding: 5px;
  display: table-cell;
  border: 1px solid #464545;
  vertical-align: middle;
  text-align: center;
}
div#cnt-calendar-header div.hdr-row div#name-placeholder {
  width: 200px;
  padding: 5px;
  display: table-cell;
  border: 1px solid #464545;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  background-color: #222222;
}
#cnt-scroll-header {
  overflow-x: hidden;
}
#cnt-worker-grids {
  overflow-x: scroll;
  height: 95vh;
}
.accomodate-scrollbar {
  width: 17px;
  background-color: #222222;
}
#calendar-workers-scrollable {
  padding-top: 130px;
  display: table;
  table-layout: fixed;
  width: 100%;
  overflow-x: scroll;
  border: 1px solid black;
}
#calendar-workers-scrollable .worker-row {
  display: table-row;
}
#calendar-workers-scrollable .worker-name {
  width: 200px;
  padding: 5px;
  display: table-cell;
  border: 1px solid #464545;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  background-color: #222222;
  background-color: #375a7f;
  color: white;
}
#calendar-workers-scrollable .worker-day {
  width: 175px;
  padding: 5px;
  display: table-cell;
  border: 1px solid #464545;
  vertical-align: middle;
}
#calendar-workers-scrollable .worker-day .project {
  border: 1px solid orange;
  padding: 5px;
  margin-bottom: 5px;
}
.weekend {
  background-color: #272727;
}
body {
  background-color: #222222;
}
.cnt-project {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #e8f1f2;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}
.cnt-hdr-date {
  color: white;
}
.proj-single {
  border: 3px solid #f39c12;
  border-radius: 10px;
}
.proj-begin {
  border-style: solid;
  border-width: 3px;
  border-top-color: #f39c12;
  border-bottom-color: #f39c12;
  border-left-color: #f39c12;
  border-right-color: transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.place-holder {
  border: 3px solid #f39c12;
  border-radius: 10px;
  border-color: orange;
  visibility: hidden;
}
#proj-ctrl {
  border: 3px solid #f39c12;
  border-radius: 10px;
  background-color: #3498db;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #e8f1f2;
  overflow: hidden;
  white-space: nowrap;
  color: black;
  width: 200px;
}
span.tag {
  width: 50px;
  color: green;
}
#cnt-ctrl {
  margin-bottom: 10px;
  margin-top: 5px;
  height: 60px;
}
.selected-col-cnt {
  height: 40px;
}
#cnt-proj-ctrl {
  border: 1px solid blue;
  line-height: 30px;
}
ul#selected-project {
  border: 1xp solid #006494;
  border-radius: 10px;
  margin-left: 5px;
  white-space: nowrap;
}
ul#selected-project li:first-child {
  background-color: white !important;
  border-color: #f39c12;
  border-width: 3px;
  width: 200px;
  position: relative;
  left: -40px;
  color: black;
}
ul#selected-project li {
  display: inline-block;
  border: 1px solid yellow;
  border-radius: 10px;
  border-width: 3px;
  padding: 2px 5px;
  margin-right: 10px;
  left: -40px;
}
.tag {
  /*display: inline;*/
  /*background-color: green;*/
  /*padding: 10px;*/
  /*margin-top: 10px;*/
}
.tag-tooltip {
  display: inline;
  position: relative;
}
.tag-tooltip:hover:after {
  background: #333;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  bottom: -50px;
  color: #fff;
  content: attr(tooltip);
  left: 0px;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}
.proj-mid {
  border-style: solid;
  border-width: 3px;
  border-top-color: #f39c12;
  border-bottom-color: #f39c12;
  border-left-color: transparent;
  border-right-color: transparent;
}
.proj-end {
  border-style: solid;
  border-width: 3px;
  border-top-color: #f39c12;
  border-bottom-color: #f39c12;
  border-left-color: transparent;
  border-right-color: #f39c12;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*****************/
/*drag and drop*/
/*****************/
.drop-active {
  /*background-color: lighten(spin(grey, 5), 30%);*/
  background-color: black;
}
.drop-hover {
  background-color: lightblue !important;
}
.proj-drop-hover {
  background-color: yellow;
}
.proj-selected {
  background-color: #3498db;
}
/*@pal-bg-color: rgb(19,41,61);*/
/*@pal-blue-green: rgb(36,123,160);*/
/*@pal-blue-dark: rgb(0,100,148);*/
/*@pal-blue-bright: rgb(27,152,224);*/
/*@pal-blue-white: rgb(232,241,242);*/
/* button style */
#calendar-name {
  text-align: center;
  position: relative;
  top: -10px;
}
#hdr-cal-name-col {
  overflow: hidden;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  #myModal .modal-dialog {
    width: 900px;
  }
  #tags .modal-dialog {
    width: 900px;
  }
  #cal-ctrl .modal-dialog {
    width: 900px;
  }
}
.error {
  color: red;
}
.ui-datepicker {
  background-color: #fff;
  border: 1px solid #66AFE9;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  display: none;
  margin-top: 4px;
  padding: 10px;
  width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
  text-decoration: none;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
  color: #2A6496;
  transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
  margin-bottom: 4px;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title {
  font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  cursor: default;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  height: 20px;
  line-height: 1;
  margin-top: 2px;
  width: 30px;
}
.ui-datepicker .ui-datepicker-prev {
  float: left;
  text-align: left;
}
.ui-datepicker .ui-datepicker-next {
  float: right;
  text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
  content: "\e079";
}
.ui-datepicker .ui-datepicker-next:before {
  content: "\e080";
}
.ui-datepicker .ui-icon {
  display: none;
}
.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
  width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  text-align: center;
  padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
  border-radius: 4px;
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
  background-color: #eee;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
  background-color: #4289cc;
}
.ui-datepicker .ui-datepicker-current-day a {
  color: #fff;
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
  background-color: #fff;
  cursor: default;
}
#ui-datepicker-div {
  background-color: black;
}
#schedule-ctrl li {
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 1px;
}
ul#existing-tags li {
  list-style-type: none;
  padding: 5px;
}
ul#existing-tags {
  padding: 5px;
}
#btn-add-tag {
  position: relative;
  top: -60px;
  right: -565px;
}

/* manage related css */
table th:last-child,
td:last-child {
  text-align: right;
}
option {
  background-color: #222222;
}
#worker-drop {
  font-size: 18px;
}
#btn-add-worker {
  background-color: #3b8ec2;
}
#worker-drop-cnt {
  display: inline-block;
  width: 250px;
  position: relative;
  top: 12px;
  margin-right: 10px;
}
.styled-select {
  background: url(/img/dropdown_pointer.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
}
.styled-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  width: 268px;
}
.styled-select.slate {
  height: 34px;
  width: 240px;
}
.styled-select.slate select {
  border: 1px solid #ccc;
  font-size: 16px;
  height: 34px;
  width: 268px;
}
/* -------------------- Rounded Corners */
.rounded {
  border-radius: 20px;
}
.semi-square {
  border-radius: 5px;
}
.blue {
  background-color: #3b8ec2;
}
.blue select {
  color: #fff;
}

/*# sourceMappingURL=app.css.map */
